<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">ShopwareAttributeRestApi</label>
    <label lang="en">ShopwareAttributeRestApi</label>
    <version>1.0.0</version>
    <copyright>(c) by Mayflower GmbH</copyright>
    <license>MIT</license>
    <link>https://github.com/mayflower/ShopwareAttributeRestApi</link>
    <author>Mayflower GmbH</author>

    <compatibility minVersion="5.4.0" />

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
</plugin>
